/*Base Styles*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;

}




/* ===== Base Layout Styles=====*/


/*Navigation*/



/* =====Media Queries=====*/

/* Note: Hide Footer Nav on Mobile - only display "back to top" */

@media (min-width: 769px)  {
    .container {
        width: 70%;
        max-width:  1000px;
        margin:0 auto;
    }


}

@media (min-width: 1024px) {




} 

