/* ============================================ */
/*               Media Queries                  */
/* ============================================ */
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$portfolio-bg: #fff;
$main-text: #fff;

//*TABLET BREAKPOINT*//

@media (min-width: $breakpoint-tablet)  {

    ul{
        margin: auto;
        text-align: center;
    }

    li {
        background: none;
    }

    .name {
        padding: 20px; 
    }

    .main-header{
        flex-direction: column;
    }

    .main-nav ul {
        flex-direction: row;
        justify-content: center;
    }

    .intro-img {
        margin: 20px;
        max-width: 33.33%;
        padding: 20px;
        border-radius: 50%;
    }

    .intro {
        flex-direction: row-reverse;
        align-items: center;
    }

    .portfolio {
        flex-direction: row;
        flex-wrap: wrap;
     }

    .col {
        width: 50%;
    }
    
    .skills ul {
        flex-direction: row;
    }

    .contact {
        margin: 20px 0;
        padding: 20px;
        text-align: center;
    }

    .footer-nav {
        display: flex;

        li {
            padding: 15px;
            margin: 5px; 
        }
      }

    .top {
         display: none;
     }


}
    

//*DESKTOP BREAKPOINT*//

@media (min-width: $breakpoint-desktop)  {
        

    .main-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .intro {
        font-size: 1.1em;   
    }

    .portfolio {
        border-radius: 7%;
     }

    .col {
        width: 33.33%;
       }
    }