/* ============================================ */
/*                Base Styles                   */
/* ============================================ */

$base-color: #6b5d8c;
$main-text: #fff;
$portfolio-bg: #fff;
$mobile-link: #000;

/*-----BASE ELEMENT STYLES-----*/

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color:  $base-color;
    margin: 0 auto;
    color: $main-text;
    max-width: 1400px;
}

p {
    font-size: 1.4em;
    text-align: center;
    padding: 10px;
    letter-spacing: .1em;
}

li {
    list-style-type: none;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: $main-text;
    margin: 5px 10px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: $main-text;
}

h2 {
    flex-basis: 100%;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 2em;
    text-align: center;
    letter-spacing: .1em;
    color: grey; 
}

ul {
    margin: 0;
    padding-left: 0;
}

footer {
    justify-content: space-between;
    align-items: center;
    border-top: solid $main-text 2px;
    padding: 20px;
    height: 100px;
}

 /*-----LINK STYLES-----*/

a {
    color: $mobile-link;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
}

a:hover {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:visited {
    color: rgb(224, 209, 68);
}

.top a {
    font-weight: 600;
    font-size: 1rem;
}

/* ===== Base Layout Styles=====*/

/*-----HEADER/MAIN NAV------*/

.main-header {
    flex-direction: column;
    margin: 10px;
}

.main-nav ul{
    flex-direction: column;
}

/*-----INTRO------*/

.intro-img {
    padding: 70px;
    border-radius: 50%;
}

.intro {
    flex-direction: column;
    margin: 10px;
}

/*-----STYLED NAME-----*/

.name, .footer-name {
    font-family: 'Caveat', cursive;
    color:#f7dbf0;
    font-size: 40px;
    margin: 20px;
}

/*-----PORTFOLIO-----*/

.headergrey {
    color: grey;
    text-transform: uppercase;
}

.col p {
    color: #000;
}

.portfolio {
    flex-direction: column;
    background-color: $portfolio-bg;
    padding: 50px 15px;

    img {
        display: block;
        max-width: 100%;
        padding: 10px;

        &:hover {
            opacity: 0.5;
            transition: ease-in .5s;
        }
    }
}

/*-----SKILLS/CONTACT------*/

.skills, 
.contact {
    flex-direction: column;
    padding: 10px;

    ul {
        flex-direction: column;
    }

    li {
        background: none;
    }
}

/*-----FOOTER------*/

.footer-nav a {
    color: $main-text;
}

/*-----HIDES FOOTER NAV ON MOBILE-----*/

.footer-nav {
    display: none;
}