/* ============================================ */
/*                Base Styles                   */
/* ============================================ */

$base-color: #6b5d8c;
$main-text: #fff;
$portfolio-bg: #fff;


/*Base Element Styles*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color:  $base-color;
    margin: 0 auto;
    color: $main-text;
    max-width: 1400px;
}

p {
    font-size: 1.4em;
    font-weight: lighter;
    text-align: center;
    margin: 20px 20px;
    padding: 10px;
    letter-spacing: .1em;
}

li {
    display: block;
    list-style-type: none;
    font-size: 1.2em;
    background-color: $main-text;
    margin: 5px 10px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 0;
    color: $main-text;
    background-color: $base-color;

}

h2 {
    font-size: 2em;
    text-align: center;
    color: $main-text;
}
h3 {
    font-size: 2em;
    text-align: center;
    color: grey; 
}

ul {
    margin: 0;
    width: 100%;
    padding-left: 0;

}

footer {
    border-top: solid $main-text 2px;
    bottom: 0;
    padding: 20px;
    width: 100%;
    height: 100px;
}

 /*Link Styles*/
 a {
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
}
a:hover {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

a:visited {
    color: #000;
}

/* ===== Base Layout Styles=====*/

/*Header and Main Navigation*/
.intro-img {
    display: block;
    margin: 0;
    width: 100%;
    padding: 70px;
    border-radius: 50%;
}

.intro {
    margin: 0 20px 20px 20px;

}

.name {
    margin: 20px;

}

.name, .footer-name {
    font-family: 'Caveat', cursive;
    color:#f7dbf0;
    font-size: 2em;
}

.headergrey {
    color: grey;
    text-transform: uppercase;

}

.portfolio-img {
    max-width: 100%;
    display: block;
    margin: auto;
    padding: 10px;
    
}

.portfolio-img:hover {
    opacity: 0.5;

}

.portfolio {
    width: 100%;
    background-color: $portfolio-bg;
    padding: 50px 0;
}

.nav li{
    display: block;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
}

 

.skills li {
    background-color: $base-color;


}
.footer-name {
    background-color: $base-color;
    margin: auto;
    float: left;
}

.top{
    background-color: $base-color;
    margin: auto;
    float: right;
}

/*Footer Navigation*/
.bottom {
    display: none;
}